Repository futurewei-cloud/alcor-control-agent, pull requests merged in 2021-01, with the labels that each got.

#186 [Perf] leverage ovs_control function to improve performance
  CMakeLists.txt
  build/Dockerfile
  build/aca-machine-init.sh
  docs/logs/perf_N_neighbors_physical_2020_12_31.log
  include/aca_util.h
  include/aca_vlan_manager.h
  include/hashmap/HashMap.h
  src/dp_abstraction/aca_dataplane_ovs.cpp
  src/ovs/aca_ovs_control.cpp
  src/ovs/aca_ovs_l2_programmer.cpp
  src/ovs/aca_vlan_manager.cpp
  src/ovs/ovs_control.cpp
  src/zeta/aca_oam_server.cpp
  test/func_tests/gs_tests.cpp
  test/gtest/aca_test_main.cpp
  test/gtest/aca_test_openflow.cpp
  test/gtest/aca_test_ovs_l2.cpp
  test/gtest/aca_test_ovs_util.cpp
Labels: enhancement

#180 Add vxlan-generic support
  include/aca_vlan_manager.h
  include/aca_zeta_oam_server.h
  include/aca_zeta_programming.h
  src/CMakeLists.txt
  src/dp_abstraction/aca_dataplane_ovs.cpp
  src/ovs/aca_ovs_control.cpp
  src/ovs/aca_vlan_manager.cpp
  src/zeta/aca_oam_port_manager.cpp
  src/zeta/aca_zeta_oam_server.cpp
  src/zeta/aca_zeta_programming.cpp
  test/gtest/aca_test_oam.cpp
  test/gtest/aca_test_ovs_util.cpp
  test/gtest/aca_test_zeta_programming.cpp
Labels: Zeta

#191 Zeta Data path integration fixes
  include/aca_zeta_programming.h
  src/zeta/aca_zeta_programming.cpp
  test/gtest/aca_test_oam.cpp
  test/gtest/aca_test_zeta_programming.cpp
Labels: Zeta

#192 [Zeta] fix concurrency errors and change the oam_cache data structure (#188)
  include/aca_zeta_oam_server.h
  src/zeta/aca_zeta_oam_server.cpp
  src/zeta/aca_zeta_programming.cpp
Labels: Zeta

#193 [Zeta] added non-ovs path for handling OAM packet
  src/zeta/aca_zeta_programming.cpp
  test/gtest/aca_test_zeta_programming.cpp
Labels: Zeta

#196 [Zeta] Removed redundant file, and fixed VNI issue
  include/aca_oam_server.h
  src/zeta/aca_zeta_oam_server.cpp
Labels: Zeta

#198 [Zeta] add the static arp entries for group rules
  src/zeta/aca_zeta_programming.cpp
Labels: Zeta

#199 [Zeta] Added more details on for direct path programming logic.
  src/zeta/aca_zeta_oam_server.cpp
Labels: Zeta

#202 [Zeta] clean up oam cache and OVS code
  include/aca_zeta_oam_server.h
  include/aca_zeta_programming.h
  src/ovs/aca_ovs_control.cpp
  src/zeta/aca_zeta_oam_server.cpp
  src/zeta/aca_zeta_programming.cpp
Labels: Zeta

#204 [Zeta] Updated Pseudo Controller with new test case to replace the internal port testcases; added back locks to address concurrency issue.
  include/aca_vlan_manager.h
  src/ovs/aca_vlan_manager.cpp
  test/gtest/aca_test_zeta_programming.cpp
  test/zeta-aca-test_controllerScript/README.md
  test/zeta-aca-test_controllerScript/run.py
Labels: Zeta

#167 add arp responder
  include/aca_arp_responder.h
  src/CMakeLists.txt
  src/aca_main.cpp
  src/ovs/aca_arp_responder.cpp
  src/ovs/aca_ovs_control.cpp
  src/ovs/aca_ovs_l2_programmer.cpp
  src/ovs/aca_ovs_l3_programmer.cpp
  src/ovs/aca_vlan_manager.cpp
  src/ovs/ovs_control.cpp
  test/CMakeLists.txt
  test/gtest/aca_test_arp.cpp
  test/gtest/aca_test_ovs_l2.cpp
  test/gtest/aca_test_ovs_l3.cpp
  test/gtest/aca_test_ovs_util.cpp
Labels: Feature

#206 [Zeta] Solve the concurrency problem of group ID
  include/aca_zeta_programming.h
  src/zeta/aca_zeta_programming.cpp
Labels: Zeta

#208 [Zeta] Add validation code [date:1.26]
  include/aca_zeta_programming.h
  src/zeta/aca_zeta_programming.cpp
  test/gtest/aca_test_zeta_programming.cpp
  test/zeta-aca-test_controllerScript/data/zeta_data_sdn.json
  test/zeta-aca-test_controllerScript/run.py
Labels: Zeta
